#section2{
	
background:url("../../img/Slika2.png");
background-size:cover;


.header{
	
	background:$primarna-boja;
	height:50px;

}

h1{
	
	color:white;
	margin-top:80px;
	margin-left:495px;

}


.cvijet{
	

	

}


.reklama{
	position: relative; 
	height:300px;
	width:300px;
	background:url("../../img/cvijet.png");
	background-repeat:no-repeat;

	margin-left: 490px;

	margin-bottom: 30px;

	.sedam{
	position: absolute; 
	margin-top: 65px;
    margin-left: 50px;
	
	color:$primarna-boja;
	   
    
    
    font-size: 120px;
}


	}

	.dana{

	position: absolute; 
	color:black;
	    margin-top: 100px;
    margin-left: 125px;
	}



	.gratis{
position: absolute; 
	
	color:$primarna-boja;
	    margin-top: 125px;
    margin-left: 100px;
	}

	.tekst{
	position: absolute; 

      margin-top: 155px;
    margin-left: 75px;
	}

}  

#map{
	

	margin-left:300px;


}

.crno{
	
	background:black;
	float:right;
	margin-right:100px;
	width:350px;
	    margin-right: 364px;
	padding-left:30px;
height: 223px;
	h1{
	    font-size: 25px;
	        margin-top: 20px !important;
	margin-left:0 !important;
	}

p {
    margin: 0 0 0px !important;
    font-size: 10px !important;
    color:white !important;
    }


    img {


       position: absolute;
    margin-top: -168px;
    margin-left: 145px;
    clip: rect(0px, 169px, 191px, 1px);

    
}

}


.inputdemoBasicUsage .md-datepicker-button {
  width: 36px; }


 .md-inline-form {
    margin-left: 900px;
       width: 330px;


    


}



md-input-container .md-input {
	
    width: 150%;


}


md-input-container {
    
    margin: 6px 0;
    
}


md-content.md-docs-dark-theme {
    color: rgba(255,255,255,1);
    background-color: rgba(0,0,0,0.5);
}


.forma{


md-input-container.md-docs-dark-theme label, md-input-container.md-docs-dark-theme .md-placeholder {
    
    color:#c7c7c7;
    text-shadow: none ;

    border-color: #c7c7c7;

}
	
	position: absolute; 

      margin-top: 90px;
    margin-left: 75px;

}

.span{
	
	color:$primarna-boja;
}


.buttondemoBasicUsage section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }

.buttondemoBasicUsage md-content {
  margin-right: 7px; }

.buttondemoBasicUsage section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; }

.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; }



.md-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  width: 280px;
  color:white !important;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  background:$primarna-boja !important;
  
}






.forma1 {
	

	.slova{
	
	color:$primarna-boja !important;

	.link00{
	
color:$primarna-boja !important;
	
}
}



md-input-container.md-docs-dark-theme label, md-input-container.md-docs-dark-theme .md-placeholder {
    
    color:#c7c7c7;
    text-shadow: none ;

    border-color: #c7c7c7;

}

   
    position: absolute;
        margin-top: -300px;
    margin-left: 17px;



 md-content.md-docs-dark-theme {
    color: black !important;
    background-color: rgba(255,255,255,0.89);



}


md-input-container {
    display: inline-block;
    position: relative;
    padding: 15px;

    }


md-input-container.md-docs-dark-theme .md-input {
    
    border-color: rgba(199,199,199,1);




}

}



.forma2{
	z-index:10000;

    position: absolute;
        margin-top: 270px;

    margin-left: -664px;


    width:500px !important;


    md-content.md-docs-dark-theme {
    
    width: 415px;
}

md-input-container.md-docs-dark-theme label, md-input-container.md-docs-dark-theme .md-placeholder {
    
    color:#c7c7c7;
    text-shadow: none ;

    border-color: #c7c7c7;

}




 md-content.md-docs-dark-theme {
    color: black !important;
    background-color: rgba(255,255,255,0.9);



}


md-input-container {
    display: inline-block;
    position: relative;
    padding: 10px;
}

md-input-container .md-input {
    width: 100%;
}



    

md-input-container {
    
    padding: 0px !important;
}







md-input-container.md-docs-dark-theme .md-input {
    color: rgb(221, 0, 8);
    
    text-shadow: 1px 1px 0px rgba(0,0,0,0.4), -1px -1px 0px rgba(0,0,0,0.4);
}










.pitanje{
	
	color:$primarna-boja !important;

font-size: 25px;
}




}